<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>C</key>
      <integer>-40</integer>
      <key>S</key>
      <integer>-20</integer>
      <key>T</key>
      <integer>-60</integer>
      <key>U</key>
      <integer>-20</integer>
      <key>V</key>
      <integer>-90</integer>
      <key>W</key>
      <integer>-90</integer>
      <key>Y</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-20</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>O</key>
      <integer>-30</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
    </dict>
    <key>E</key>
    <dict>
      <key>B</key>
      <integer>30</integer>
      <key>D</key>
      <integer>30</integer>
      <key>I</key>
      <integer>30</integer>
      <key>L</key>
      <integer>30</integer>
      <key>M</key>
      <integer>30</integer>
      <key>N</key>
      <integer>30</integer>
      <key>R</key>
      <integer>30</integer>
    </dict>
    <key>Ecaron</key>
    <dict>
      <key>E</key>
      <integer>30</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>E</key>
      <integer>30</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>A</key>
      <integer>40</integer>
      <key>E</key>
      <integer>30</integer>
      <key>H</key>
      <integer>30</integer>
      <key>I</key>
      <integer>30</integer>
      <key>R</key>
      <integer>30</integer>
      <key>U</key>
      <integer>30</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>B</key>
      <integer>30</integer>
      <key>D</key>
      <integer>30</integer>
      <key>E</key>
      <integer>30</integer>
      <key>F</key>
      <integer>30</integer>
      <key>I</key>
      <integer>30</integer>
      <key>K</key>
      <integer>30</integer>
      <key>L</key>
      <integer>30</integer>
      <key>M</key>
      <integer>30</integer>
      <key>N</key>
      <integer>30</integer>
      <key>P</key>
      <integer>30</integer>
      <key>R</key>
      <integer>30</integer>
      <key>U</key>
      <integer>30</integer>
      <key>n</key>
      <integer>30</integer>
    </dict>
    <key>J</key>
    <dict>
      <key>I</key>
      <integer>30</integer>
    </dict>
    <key>K</key>
    <dict>
      <key>C</key>
      <integer>-40</integer>
      <key>O</key>
      <integer>-60</integer>
      <key>S</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>public.kern2.0</key>
      <integer>-40</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>O</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>-60</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>B</key>
      <integer>30</integer>
      <key>E</key>
      <integer>30</integer>
      <key>I</key>
      <integer>30</integer>
      <key>L</key>
      <integer>30</integer>
      <key>Lcaron</key>
      <integer>30</integer>
      <key>M</key>
      <integer>30</integer>
      <key>N</key>
      <integer>30</integer>
    </dict>
    <key>N</key>
    <dict>
      <key>B</key>
      <integer>30</integer>
      <key>D</key>
      <integer>30</integer>
      <key>E</key>
      <integer>30</integer>
      <key>H</key>
      <integer>30</integer>
      <key>I</key>
      <integer>30</integer>
      <key>L</key>
      <integer>30</integer>
      <key>M</key>
      <integer>30</integer>
      <key>N</key>
      <integer>30</integer>
      <key>R</key>
      <integer>20</integer>
      <key>U</key>
      <integer>30</integer>
    </dict>
    <key>Ncaron</key>
    <dict>
      <key>N</key>
      <integer>30</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>V</key>
      <integer>-30</integer>
      <key>W</key>
      <integer>-40</integer>
      <key>X</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-30</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-20</integer>
      <key>public.kern2.0</key>
      <integer>-20</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>I</key>
      <integer>10</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>O</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-50</integer>
      <key>public.kern2.0</key>
      <integer>-50</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>B</key>
      <integer>30</integer>
      <key>E</key>
      <integer>30</integer>
      <key>K</key>
      <integer>30</integer>
      <key>L</key>
      <integer>30</integer>
      <key>M</key>
      <integer>30</integer>
      <key>N</key>
      <integer>30</integer>
      <key>U</key>
      <integer>30</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>O</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>public.kern2.0</key>
      <integer>-40</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>O</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-40</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>o</key>
      <integer>-40</integer>
      <key>public.kern2.0</key>
      <integer>-40</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-60</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>public.kern2.0</key>
      <integer>-40</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>b</key>
      <integer>10</integer>
      <key>m</key>
      <integer>10</integer>
      <key>n</key>
      <integer>10</integer>
      <key>y</key>
      <integer>-40</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>ampersand</key>
      <integer>-200</integer>
      <key>public.kern2.0</key>
      <integer>-60</integer>
    </dict>
    <key>d</key>
    <dict>
      <key>b</key>
      <integer>20</integer>
      <key>h</key>
      <integer>30</integer>
      <key>i</key>
      <integer>30</integer>
      <key>l</key>
      <integer>30</integer>
      <key>p</key>
      <integer>30</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>j</key>
      <integer>-60</integer>
      <key>t</key>
      <integer>-40</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>w</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-60</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>d</key>
      <integer>-30</integer>
      <key>f</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-60</integer>
    </dict>
    <key>h</key>
    <dict>
      <key>h</key>
      <integer>20</integer>
      <key>m</key>
      <integer>30</integer>
      <key>n</key>
      <integer>30</integer>
    </dict>
    <key>i</key>
    <dict>
      <key>b</key>
      <integer>20</integer>
      <key>i</key>
      <integer>20</integer>
      <key>m</key>
      <integer>30</integer>
      <key>n</key>
      <integer>20</integer>
    </dict>
    <key>j</key>
    <dict>
      <key>i</key>
      <integer>20</integer>
    </dict>
    <key>k</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>public.kern2.0</key>
      <integer>-40</integer>
      <key>s</key>
      <integer>-60</integer>
      <key>scedilla</key>
      <integer>-40</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>d</key>
      <integer>-20</integer>
      <key>public.kern2.0</key>
      <integer>-30</integer>
      <key>t</key>
      <integer>-60</integer>
      <key>y</key>
      <integer>-40</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>n</key>
      <integer>10</integer>
      <key>p</key>
      <integer>10</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>j</key>
      <integer>-60</integer>
      <key>k</key>
      <integer>10</integer>
      <key>l</key>
      <integer>30</integer>
      <key>n</key>
      <integer>30</integer>
    </dict>
    <key>o</key>
    <dict>
      <key>t</key>
      <integer>-20</integer>
      <key>v</key>
      <integer>-20</integer>
      <key>w</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-60</integer>
      <key>y</key>
      <integer>-40</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>t</key>
      <integer>-20</integer>
    </dict>
    <key>s</key>
    <dict>
      <key>t</key>
      <integer>-20</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>g</key>
      <integer>-20</integer>
      <key>o</key>
      <integer>-20</integer>
      <key>public.kern2.0</key>
      <integer>-30</integer>
    </dict>
    <key>u</key>
    <dict>
      <key>i</key>
      <integer>30</integer>
      <key>m</key>
      <integer>10</integer>
      <key>n</key>
      <integer>10</integer>
      <key>r</key>
      <integer>20</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>o</key>
      <integer>-20</integer>
      <key>public.kern2.0</key>
      <integer>-20</integer>
    </dict>
    <key>w</key>
    <dict>
      <key>o</key>
      <integer>-40</integer>
      <key>public.kern2.0</key>
      <integer>-30</integer>
      <key>q</key>
      <integer>-30</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>o</key>
      <integer>-40</integer>
      <key>public.kern2.0</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>o</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
